:root {
    --primary-font: "Pinyon Script", cursive;
    --secondary-font: "Raleway", sans-serif;
    --highlight-color: crimson;
    --background-color: #f5daca;
    --text-color: black;
}

/* Generales */

h1 {
    font-family: var(--primary-font);
    font-size: 72px;
}

h2, h3, h4, p, a, ul, li {
    font-family: var(--secondary-font);
}

.p-3 {
    padding: 0 !important;
}

h1::selection, h2::selection, a::selection, p::selection {
    background-color: var(--highlight-color);
}

body {
    width: 100%;
}

/* HEADER */
header {
    justify-content: space-between;
    background-color: white;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 50px;
    border-radius: 999px;
}

.menu {
    list-style-type: none;
    color: var(--text-color);
}

.menu li {
    display: inline;
}

.menu a {
    padding: 10px;
}

a:hover, a:focus {
    color: var(--highlight-color);
    background-color: var(--background-color);
    border-radius: 10px;
    outline: none;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
}

.sticky-header {
    position: sticky;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

/* MAIN */
.main {
    padding: 10px;
    background-color: var(--background-color);
}

.main h1 {
    text-align: center;
}

.main_container {
    margin-bottom: -10rem;
}

.main_box_circle {
    left: 5%;
    border-radius: 999px;
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    border: 1px solid white;
    background-color: white;
    overflow: hidden;
    animation: fadeInDown 1500ms;
}

.main_box_img {
    object-fit: fill;
    position: relative;
    top: -10rem;
    left: 15%;
    animation: fadeInLeft 1.5s;
}

.main_box_img img {
    max-width: 70%;
}

.main_box_text {
    position: relative;
    top: -15rem;
    left: 30%;
    max-width: 50%;
    border: 1px solid white;
    background-color: white;
    overflow: hidden;
    animation: flipInX 1500ms;
}

/* FOOTER */
footer {
    color: rgb(66, 66, 58);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .redes {
    font-size: 1.5em;
}

footer .redes i {
    color: rgb(145, 99, 134);
    transition: 0.2s all;
}

footer .redes i:hover {
    color: rgb(110, 110, 92);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .main_box_img {
        top: -1rem;
    }
    .main_box_text {
        top: -2rem;
    }
    h1 {
        font-size: 30px;
    }
    h2, h3, h4 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    body {
    width: 100%;
}
}

@media only screen and (max-width: 800px) {
    .main_box_img {
        top: -2rem;
    }
    .main_box_text {
        top: -3rem;
    }
    h1 {
        font-size: 50px;
    }
    h2, h3, h4 {
        font-size: 25px;
    }
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .main_box_img {
        top: -3rem;
    }
    .main_box_text {
        top: -4rem;
    }
    h1 {
        font-size: 60px;
    }
    h2, h3, h4 {
        font-size: 25px;
    }
    footer .redes {
        font-size: 1rem;
    }
}
